<!-- navbar -->
<nav class="navbar navbar-dark transparent">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link nav-item-bg" href="#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-item-bg" href="#art">ART</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-item-bg" href="#contact">CONTACT</a>
      </li>
    </ul>
  </div>
</nav><!-- /navbar -->

<br>
<br>
<section class="main-section">
<div class="container">

  <%= image_tag("logo.png", :alt => "logo", :class => "logo") %>
</div>

</section>

<section class="about">


    <div class="container">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link nav-item-bg section-nav" href="#about">ABOUT</a>
        </li>
      </ul>
    </div>

      <div class="container">
      <%= image_tag("first-image.jpg", :alt => "first-image", :class => "first-image") %>
    </div>



</section>
