<div class="background">
  <nav class="navbar navbar-dark bg-warning navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      <!-- <a class="navbar-brand pull-sm-right m-r-0 hidden-xs-down"><%= image_tag "logo.png" %></a> -->
  </nav><!-- /navbar -->
        <br>
        <br>
    <h1 class="text-center display-4 text-xs-center m-y-3 page-header">Cold-pressed celiac single-origin coffee drinking vinegar kale chips, <br>
      fap etsy chia tousled yr pop-up butcher food truck forage. Green juice crucifix post-ironic </h1>
    </div>
</div>

<!-- <div class="container p-t-2"> -->

  <!-- about -->
  <div id="about" class="row">
    <div class="col-lg-4 col-lg-4">
      <h3 class="m-b-2">About</h3>
      <img class="m-b-1 img-fluid img-rounded hidden-xs-down" src="img/pdx.jpg" alt="Portland">
      <p>Fanny pack bitters kogi williamsburg post-ironic seitan</p>
      <p>You probably haven't heard of them mumblecore yuccie, authentic small batch keffiyeh viral ugh helvetica skateboard wolf venmo +1. Gastropub tumblr semiotics cray. Hammock wolf raw denim crucifix, vinyl literally portland. Pitchfork green juice banjo occupy selvage, forage selfies. Salvia pour-over craft beer, etsy umami meggings waistcoat leggings hoodie hella mustache synth brooklyn. Leggings franzen messenger bag put a bird on it asymmetrical. Tattooed portland blue bottle 3 wolf moon keffiyeh helvetica, marfa ugh williamsburg franzen slow-carb pickled taxidermy banh mi.
</p>
    </div>

    <div class="col-lg-4 col-lg-4">
      <h3 class="m-b-2">Expert Speakers</h3>
      <p>Our expert speaker lineup was just announced, so don't wait too long before grabbing your tickets!</p>
      <p>Want to meet the international JavaScript community and share skills with some of the world's top experts, hackers, and makers? Be the first to know what to expect for the future of JavaScript.</p>
      <p>Full Stack Conf is committed to being inclusive and welcoming for everyone. We look forward to another intensive day of learning and sharing.</p>
    </div>

    <div class="col-lg-4">
      <h3 class="m-b-2">What You'll Learn</h3>
      <div class="list-group">
        <a href="#" class="list-group-item"><strong>MongoDB</strong>: NoSQL database</a>
        <a href="#" class="list-group-item"><strong>Angular</strong>: JavaScript framework </a>
        <a href="#" class="list-group-item"><strong>Express</strong>: Framework for Node</a>
        <a href="#" class="list-group-item"><strong>Node.js</strong>: JavaScript environment</a>
        <a href="#" class="list-group-item"><strong>ES2015</strong>: Latest version of JavaScript</a>
        <a href="#" class="list-group-item"><strong>Babel</strong>: JavaScript compiler</a>
      </div>
    </div>
  </div><!-- /about -->

  <!-- portfolio -->
  <h1 id="portfolio" class="display-4 text-xs-center m-y-3 text-muted">Portfolio</h1>

  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/angie.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Angie McAngular</h4>
          <p class="card-text">Angie is a web developer and teacher who is passionate about building scalable, data driven web apps, especially ones that address old problems with new tech!</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/nodestradamus.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">NodeStradamus</h4>
          <p class="card-text">"NodeStra" is a software engineer and philosopher trying to leave the world better than he found it. He codes for non-profits, eCommerce, and large-scale web apps.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/geo.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Geo "Lo" Cation</h4>
          <p class="card-text">Geo is a JavaScript developer working on large-scale applications. He's also a teacher who strives to support students in removing all barriers to learning code.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/ecma.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Ecma Scriptnstuff</h4>
          <p class="card-text">Ecma found her passion for computers and programming over 15 years ago. She is excited to introduce people to the wonderful world of JavaScript.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/jay.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Jay Query</h4>
          <p class="card-text">Jay is a developer, author of CSS: The Missing Manual, JavaScript &amp; jQuery: The Missing Manual, and web development teacher.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/json.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Json Babel</h4>
          <p class="card-text">All of his professional life, Json has worked with computers online; he is a polyglot programmer and likes using the right tools for the job.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /speakers -->
