<!-- navbar -->
<nav class="navbar navbar-dark navbar-fixed-top transparent">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item-bg">
        <%= image_tag("krabbel.png", :alt => "rss feed") %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#art">ART</a>
      </li>
      <li  class="nav-item-bg">
        <%= image_tag("krabbel.png", :alt => "rss feed") %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">CONTACT</a>
      </li>
      <li  class="nav-item-bg">
        <%= image_tag("krabbel.png", :alt => "rss feed") %>
      </li>
    </ul>
  </div>
</nav><!-- /navbar -->
