%article{"ng-app" => "angular_test"}
  %header
    %h1{"ng-if" => "name"} Hello, {{name}}
  %section
    %form.form-inline
      .form-group
        %label{:for => "name"} Name
        %input.form-control{:autofocus => "", :name => "name", "ng-model" => "name", :placeholder => "Enter your name", :type => "text"}
