// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: image-url('achtergrond.png');
}

li {
  font-family: 'Economica', sans-serif;
  font-size: 2em;
}

.nav-item-bg {
  background-image: image-url('krabbel.png');
  background-size: 80px 60px;
  background-repeat: no-repeat;
  width: 7rem;
  position: relative;
  z-index: -1;
}

.nav-link.nav-item-bg {
  z-index: 2;
  &:hover {
    color: pink !important;
  }
}

.main-section {
  margin-top: 1rem;
}

.logo {
  width: 256px;
}

.section-nav {
  color: white;
}

.first-image {
    width: 280px;
  }
