// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
  background-image: url('https://static.pexels.com/photos/91484/pexels-photo-91484.jpeg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.top--30 {
  margin-top: 30px;
}
