<!DOCTYPE html>
<html>
<head>
  <title>Hilde van Houtert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">

<%= yield %>

</body>
</html>
